body{
    background-color: #baaff1;
}
.qr{
    border-radius: 30px;
    padding:10px;
}
.container{
    height: auto;
}
.card{
    border-radius: 20px;
    padding: 20px;
}
.qr-title{
    font-family: Outfit,700;
    font-size: 22px;
    font-weight: bold;
}
.qr-text{
    font-family: Outfit,400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
